header
    nav
        .itemsDiv
            ul.ulMen
                li
                    a(href="/")
                        i.fas.fa-store-alt.fa-4x
                li
                    a(href="/admin/products") Add Product
                li
                    a(href="/admin/manageproducts") Manage Products
        .authDiv
            ul.authMen
                li
                    a(href="/login") Login
                li
                    a(href="/register") Register
                li
                    .cartDiv
                        a(href="/cart")
                            i.fas.fa-shopping-cart.fa-3x
                        span#cartSpan