header
    nav
        .itemsDiv
            ul.ulMen
                li
                    a(href="/")
                        i.fas.fa-store-alt.fa-4x
                li
                    a(href="/admin/products") Add Product
                li
                    a(href="/admin/manageproducts") Manage Products
                if isAuth
                    li
                        a(href="/shop/orderView") My Orders
        .authDiv
            ul.authMen
                
                if isAuth===undefined
                    li
                        a(href="/auth/login") Login
                    li
                        a(href="/auth/register") Register
                if isAuth
                    li
                        form(action="/auth/logout" method="post")
                            input(type="hidden" name="_csrf" value=`${csrfToken}`)
                            button(type="submit") Logout
                    li
                        .cartDiv
                            a(href="/cart")
                                i.fas.fa-shopping-cart.fa-3x
                            span(id="cartSpan")=cartLength