extends layout.pug

block content
    if locals.orders
        each order in orders
            .orderDiv
                each product in order.items
                    .productDivOrder
                        p Order #{product.productId._id}
                        h3=product.productId.title
                        h3
                            | Quantity : #{product.quantity} - 
                            a(href=`/shop/orders/${order.id}`) Invoice 
    else
        h2 There are no orders from you yet